<div class="container-fluid">

  <div id="calc">
    <h3>Calculadora</h3>
    <div id="operations">
      <div id="previous-operation"></div>
      <div id="current-operation" [innerText]="display"></div>
    </div>
    <div id="buttons-container">
      <button>CE</button>
      <button (click)="limpar()">C</button>
      <button>DEL</button>
      <button (click)="definirOperacao('/')">/</button>
      <button class="number" (click)="adicionaNumero('7')">7</button>
      <button class="number" (click)="adicionaNumero('8')">8</button>
      <button class="number" (click)="adicionaNumero('9')">9</button>
      <button (click)="definirOperacao('*')">*</button>
      <button class="number" (click)="adicionaNumero('4')">4</button>
      <button class="number" (click)="adicionaNumero('5')">5</button>
      <button class="number" (click)="adicionaNumero('6')">6</button>
      <button (click)="definirOperacao('-')">-</button>
      <button class="number" (click)="adicionaNumero('1')">1</button>
      <button class="number" (click)="adicionaNumero('2')">2</button>
      <button class="number" (click)="adicionaNumero('3')">3</button>
      <button (click)="definirOperacao('+')">+</button>
      <button class="number" (click)="adicionaNumero('0')">0</button>
      <button class="number" (click)="adicionaNumero('.')">.</button>
      <button id="equal-btn" (click)="calcular()">=</button>
    </div>
  </div>
</div>
